:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    135deg,
    #c2ffd8 10%,
    #465efb 100%
  );
  --vp-c-brand-dimm: #757de8;

  --vp-home-hero-image-background-image: -webkit-linear-gradient(
    120deg,
    #e0c3fc 20%,
    #8ec5fc 80%
  );
  --vp-home-hero-image-filter: blur(68px);
}

/* .vitepress/theme/style/var.css */
.medium-zoom-overlay {
  z-index: 30;
}
.medium-zoom-image {
  z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}
